* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.index_body {
    background-image: url("background.jpg");
    background-size: cover;
    background-color: black;
}

.gallery_body {
    background-color: rgb(12, 110, 110);
}

.glass_box {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; /* Need a specific value to work */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    backdrop-filter: blur(5px);
    transition: 800ms ease-in-out;
}

.home_button {
    position: relative;
    width: 500px;
    height: 125px;
    margin-top: 100px;
    font-family: "Kode Mono", monospace;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    background-color: rgb(201, 25, 207);
    border: 0px;
    border-bottom: 10px solid rgb(78, 25, 25);
    cursor: pointer;
}

.new_home_button {
    height: 500px;
    cursor: pointer;
    transition: 800ms linear;
    cursor: pointer;
}

.button_a_height {
    height: 400px;
    width: 500px;
}

.scroll_banner {
    width: 125px;
    height: 1px;
    background-color: rgb(38, 51, 165);
    margin-left: 200px;
    transition: 800ms ease-in-out;
    box-shadow: 5px 5px 5px #cd04ff;
    display: inline-block;

}   

.banner_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110px;
    text-align: center;
    word-wrap: break-word;
    opacity: 0;
    transition: 800ms ease-in-out;
}

/* yur*/

.intro_page {
    display: block;
    position: absolute;
    opacity: 0;
    left: 25%;
    top: 25%;
    transition: ease-in-out 800ms;
    transform: none;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
}

.intro_text {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    margin-top: 200px;
    color: #000000;
}


.row {
    padding: 50px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 5%;
}

.intro_button {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: #cd04ff;
    box-shadow: 2px 2px 2px #888;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.row_gal:after {
    content: "";
    display: table;
    clear: both;
}

.row_gal {
    margin-top: 100px;
}

.col_gal {
    float: left;
    width: 50%;
}

.col_img {
    width: 650px;
    height: auto;
}

.col_img_left {
    width: 650px;
    height: auto;
    float: right;
}

.col_img_gif {
    width: 300px;
    height: 600px;
    float: left;
    border-radius: 5px;
}

.left_p {
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    text-align: right;
    width: 500px;
    float: right;
    margin-right: 150px;
}

.oc_instagram_link {
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 17px;
    color: rgb(0, 201, 17);
    text-align: right;
    float: right;
    margin-right: 150px;
}

.right_p {
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    text-align: left;
    width: 500px;
    float: left;
    margin-left: 150px;
}

.left_title {
    color: #000000;
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 25px;
    text-align: right;
    margin-right: 150px;
}

.right_title {
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    margin-left: 150px;
}

.return_button {
    background-color: rgb(201, 25, 207);
    border: none;
    border-right: 10px solid rgb(78, 25, 25);
    width: 275px;
    padding-left: 25px;
    height: 75px;
    position: relative;
    cursor: pointer;
}

.return_div {
    position: fixed;
    transform: translateX(-200px);
    cursor: pointer;
    transition: 400ms ease-in-out;
}

.return_div:hover {
    transform: translateX(0px);
}

.home_img {
    width: 50px;
    height: 50px;
    display: flex;
    float: right;
    margin-right: 10px;
}

.intro_button_image {
    width: 50px;
    height: 50px;
}

.intro_button_socials {
    width: 50px;
    height: 50px;
}
.intro_button_video {
    width: 50px;
    height: 50px;
}

.return_text {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: auto;
    display: flex;
}

.row_return_button:after {
    content: "";
    display: table;
    clear: both;

}

footer {
    margin-top: 200px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    font-size: 30px;
    cursor: pointer;
}

.icon {
    display: inline;
    width: 75px;
    height: 75px;
}

.icon_text {
    text-align: start;
    display: inline-block;
    margin-top: 12px;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 50px;
}


.container {
    width: 500px;
    height: 100px;
    display: block;
}

.inrow:after {
    content: "";
    display: table;
    clear: both;
}

.inrow {
    margin-bottom: 50px;
}

.incol_img {
    float: left;
    width: 10%;
}

.incol_text {
    float: left;
    width: 90%;
}

.return_main_div {
    height: 100%;
    width: 100px;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #cd04ff;
    display: block;
    cursor: pointer;
}

.return_main_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    word-wrap: break-word; 
}

.yt_title {
    color: #290f30;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
}

.click_here {
    opacity: 0;
    font-size: 20px;
    transition: 800ms ease-in-out;
}

.home_button:hover > .click_here {
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.new_click {
    margin-top: 300px;
    opacity: 1;
    font-size: 60px;
}

.init_text {
    position: absolute;
    top: 0;
    left: 25%;
    font-size: 40px;
    text-align: center;
    transition: 800ms ease-in-out;
}

.init_img {
    position: absolute;
    height: 50px;
    width: 50px;
    transition: 800ms linear;
    left: 45%;
    opacity: 0;
    top: 10px
}

.img_expand {
    width: 300px;
    height: 300px;
    left: 100px;
    opacity: 1;
}
/* where the update at */

/* physics */

/* kata ran it up */